list-item {
    border-left: 2px solid #B6F273;
    background-color: color($colors, gray);
    display: block;
    margin: 0 0 1rem 0;
    min-height: 140px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding: $content-padding calc(#{$content-padding}/2);

    h3,h2 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    p {
        font-size: 1.3rem;
        overflow: hidden;
        height: 60px;
        margin-top: 0;
    }

    small{
        float: right;
    }

}
