page-profile {
    .card {
        text-align: center;
        background: $primarygradient;

        img{
            margin: 1rem auto auto;
            height: 120px;
            width: auto;
            border-radius: 50%;
        }
    }

    .card-title{
        color: white;
        font-weight: 300;
    }

}
